<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Profile Image</th>
            <th scope="col">Firsnamet</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Sex</th>
            <th scope="col">BirthDay</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="employee in employees">
            <th cope="row"><img class="circular-profile-image" :src="employee.value.profileImage" width="25" height="25"></th>
            <td>{{employee.value.firstName}}</td>
            <td>{{employee.value.lastName}}</td>
            <td>{{employee.value.email}}</td>
            <td>{{employee.value.sex}}</td>
            <td>{{employee.value.dateOfBirth}}</td>
        </tr>
    </tbody>
</table>