<button @click="showForm">Add new employee</button>
<Form v-show="formIsVisible" @close-form="closeForm" @add-new-employee="newEmployee"></Form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Profile Image</th>
            <th scope="col" @click="sortByFirstname" v-if="!firstNameSorted"><i class="fas fa-angle-right"></i>Firstname</th>
            <th scope="col" @click="sortByFirstname" v-else-if="firstNameSorted==='Asc'"><i class="fas fa-angle-down"></i>Firstname</th>
            <th scope="col" @click="sortByFirstname" v-else-if="firstNameSorted==='Desc'"><i class="fas fa-angle-up"></i>Firstname</th>

            <th scope="col" @click="sortByLastname" v-if="! lastNameSorted"><i class="fas fa-angle-right"></i>Lastname</th>
            <th scope="col" @click="sortByLastname" v-else-if=" lastNameSorted==='Asc'"><i class="fas fa-angle-down"></i>Lastname</th>
            <th scope="col" @click="sortByLastname" v-else-if=" lastNameSorted==='Desc'"><i class="fas fa-angle-up"></i>Lastname</th>
            <th scope="col" @click="sortByEmail" v-if="!emailSorted"><i class="fas fa-angle-right"></i>Email</th>
            <th scope="col" @click="sortByEmail" v-else-if="emailSorted==='Asc'"><i class="fas fa-angle-down"></i>Email</th>
            <th scope="col" @click="sortByEmail" v-else-if="emailSorted==='Desc'"><i class="fas fa-angle-up "></i>Email</th>
            <th scope="col " @click="sortBySex" v-if="!sexSorted"><i class="fas fa-angle-right"></i>Sex</th>
            <th scope="col " @click="sortBySex" v-else-if="sexSorted==='Asc'"><i class="fas fa-angle-down"></i>Sex</th>
            <th scope="col " @click="sortBySex" v-else><i class="fas fa-angle-up"></i>Sex</th>
            <th scope="col " @click="sortByBirthDate" v-if="!birthDateSorted"><i class="fas fa-angle-right"></i>BirthDay</th>
            <th scope="col " @click="sortByBirthDate" v-else-if="birthDateSorted==='Asc'"><i class="fas fa-angle-down"></i>BirthDay</th>
            <th scope="col " @click="sortByBirthDate" v-else><i class="fas fa-angle-up"></i>BirthDay</th>
            <th scope="col ">Actions</th>
        </tr>
    </thead>
    <tbody>
        <Row v-for="employee in employees" :key="employee.id" :employee="employee"></Row>
    </tbody>
</table>